@import "../lib/variables";
@import "../lib/lib";

#my_teams {
    margin-top: 5vh;

    div {
        margin-top: 2vh;
        margin-bottom: 2vh;
    }
}

#my_teams_wrapper {
    flex-direction: column;
}