@import "../lib/variables";

header {
    background-color: $primary_color;
    color: $white;

    flex-direction: column !important;
    justify-content: center;
    align-content: center !important;

    height: 15vh;

    #quiz_title {
        font-weight: bold;
        margin-left: 1vw;
    }
}

#logo {
    height: 15vh;
}

@media only screen and (max-width: 600px) {
    header {
        height: 20vh;
    }
}
