@import "../lib/variables";
@import "../lib/lib";

div.header {
    background-color: $primary_color;
    color: $white;

    flex-direction: column !important;
    justify-content: center;
    align-content: center !important;

    height: 50vh;

    h1 {
        text-align: center;
    }
}

#login_username {
    position: relative;
    right: -42vw;
    top: 10vh;
}

#home_links {
    justify-content: center;
    margin-top: 5vh;
}

@media only screen and (max-width: 600px) {
    header {
        height: 60vh;
    }
    #quiz_buttons_parent {
        flex-direction: column;
        justify-content: center !important;
        align-content: center;

        margin-top: $mobile_index_button_margin;

        a {
            width: 100vw;
        }
    }

    #take_quiz, #create_quiz {
        margin-bottom: $mobile_index_button_margin;
    }
}